%% auther: 
%% email: 
%% date: 2011.12.4
  
[
{sasl, [   
    {sasl_error_logger, tty},    
    {errlog_type, error},   
    {error_logger_mf_dir, "./logs"},     %% dirs
    {error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    {error_logger_mf_maxfiles, 10}       %% maxinum number of 10
	]},

{gateway, [
		{db_host, "127.0.0.1"}, 		%% 游戏数据库所在主机的ip
        {db_port, 3306}, 				%% 游戏数据库的端口

		{db_user, "smserver"},			%% 数据库用户名
		{db_password, "123456"},		%% 数据库用户密码
		{db_name, "smserver"},			%% 数据库名

		{port_to_listen, 8888}          %% 所监听的端口（TCP）
	]}
].   
 
%% File end.  

 
