%% author: 
%% email: 
%% date: 2013.3.13

[
{kernel, [{error_logger, {file, "./logs/server_kernel.log"}}]},

{sasl, [
    	{sasl_error_logger, {file, "./logs/server_sasl.log"}},    
    	{errlog_type, error},   
    	{error_logger_mf_dir, "./logs/sasl"},     %% dirs
    	{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    	{error_logger_mf_maxfiles, 10}       %% maxinum number of 10
	]},

{server, [
		{md5_login_auth, 0},			%% 是否需要做md5登录验证 （1：是; 0: 否）
		{infant_ctrl, 0},				%% 防沉迷系统开关 （1：开启; 0: 关闭）

		{all_logout_time, 45000},		%% 关服时使所有玩家退出并保存数据到数据库的等待时间（单位：毫秒）

		{db_host, "localhost"},         %% 游戏数据库所在主机的ip
		{db_port, 3306},                %% 游戏数据库的端口

		{db_user, "root"},			%% 数据库用户名
		{db_password, ""},		%% 数据库用户密码
		{db_name, "x1_air_2001"},			%% 数据库名
		
		{db_conn_num, 40},              %% 与数据库的连接数

		{port_to_listen, 9999},         %% 所监听的端口（TCP）
		
		{adm_bind_address, any}, 					 %% 后台绑定地址
		{adm_port_to_listen, 9998},          %% 后台监听端口 (注意, 端口号 = TCP监听端口 - 1)

        {server_udp_port, 9997},        %% 服务器监听端口(UDP) (注意, 端口号 = TCP监听端口 - 2)

		{can_use_gm_cmd, 1},            %% 是否可以使用gm指令（1：是，0：否）
		{check_heartbeat_timeout, 1},   %% 是否检测心跳包超时（1：是，0：否）
		
		{limit_login, 1},		        %% 是否开启限制登录（1：是，0：否）
		{limit_login_threshold, 2000},  %% 开始限制登录的阀值，  old: 5000
		{greenpass_vip_level, 1},		%% 绿色通道的vip等级
                
                {acc_queue_dync_tune, false},
                {min_play_ol_num, 50},
                {nor_play_ol_num, 2000},
				{max_play_ol_num, 2000},
				{max_wait_ol_num, 10000},
                {bcast_use_ets, false},
                {bcast_procs_num, 50},

		{sys_log_level, 7},
		
		{server_id, 10001},      %% 服务器id = 平台号 * 10000 + 平台下的服务器流水编号 （假定平台下的服务器的流水编号不超过9999）

		{log_recved_proto, 0},  %% 是否要记录服务端所收到的协议（1：是， 0：否）
		{goto_hell_after_die, 1},					%% 死亡后是否要传送到地府（1：是，0：否）

		{role_reconn_timeout_time, 300},           	%% 角色重连超时的时间（单位：秒）
		{role_reconn_timeout_time_floating, 120},   %% 角色重连超时的时间的浮动范围（单位：秒）
		{game_logic_reconn_timeout_time, 180},      %% 游戏逻辑（如：队伍，副本等）重连超时的时间（单位：秒），注意：此时间必须小于角色重连超时的时间！！

        {check_admin_security, 0},              %% 后台请求安全性验证是否开启(1:Y, 0:N)

        {check_proto_freq_intv, 10},            %% 检测客户端发送协议包的频率的时间间隔（单位：秒）
        {max_allowed_proto_per_intv, 200},      %% 单个时间间隔内允许客户端发协议包的最大个数

        {switch_recharge_feekback, 1},             %% 充值返还开关(1:Y, 0：N)

        {admin_addr, "127.0.0.1"},             %% 后台地址
		{admin_addr_control_server,	"http://local.jinkehc.com:8080/NYControl"},	%% 控制服务器HTTP访问地址

        {admin_udp_port, 10000},                 %% 后台交互UDP端口

        {switch_chat_monitor, 1},               %% 聊天监控开关(1:Y, 0：N)
        {cross_server_host,	"127.0.0.1"},				%% 跨服服务器ip
		{cross_server_port,	9999},					%% 跨服服务器端口
                {use_mysql_cache, false},
                {mysql_cache_host, "127.0.0.1"},
                {mysql_cache_port, 9995}
	]}
].   
 
%% File end.  

 
