%% auther: Skyman Wu
%% email: 
%% date: 2012.1.11
  
[{sasl, [   
    {sasl_error_logger, false},    
    {errlog_type, error},   
    {error_logger_mf_dir, "./logs"},     %% dirs
    {error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    {error_logger_mf_maxfiles, 10}       %%maxinum number of 10
]},
{world, [  
		{guild_scene_in, 1},			%% 帮会场景所在的server节点
		{db_host, "localhost"}, 
		{db_conn_num, 20},
		{bg_db_host, "localhost"},
		{bg_db_conn_num, 20}
	]
  }
].   
 
%% File end.  

 
